<launch>
    <!-- start lidar_node map_node -->
    <!-- <include file="$(find ydlidar)/launch/ydlidar.launch" > </include> -->
    <node name = "map_server" pkg = "map_server" type = "map_server" args = "$(find ucar_navigation)/map/map_pro.yaml" />
    <!-- <include file="$(find ucar_localization)/launch/scan_to_map_location.launch" > </include> -->
    <!-- start amcl(localization) -->
    <!-- <include file="$(find ucar_localization)/launch/amcl.launch" > </include> -->
    <!-- <include file="$(find cartographer_ros)/launch/iflytek_demo.launch" > </include> -->
    <!-- <include file="$(find hector_mapping)/launch/mapping_default.launch"/> -->

    <!-- Arguments -->
    <arg name="cmd_vel_topic" default="/cmd_vel" />
    <arg name="odom_topic" default="/odom" />
    <arg name="local_planner_params" default="base_local_planner_params.yaml" />

    <!-- move_base：局部规划器固定为 TEB，参数一律取 config/teb/ -->
    <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
        <param name="base_local_planner" value="teb_local_planner/TebLocalPlannerROS"/>
        <param name="base_global_planner" value="global_planner/GlobalPlanner"/>
        <rosparam file="$(find ucar_navigation)/config/teb/costmap_common_params.yaml" command="load" ns="global_costmap" />
        <rosparam file="$(find ucar_navigation)/config/teb/costmap_common_params.yaml" command="load" ns="local_costmap" />
        <rosparam file="$(find ucar_navigation)/config/teb/local_costmap_params.yaml" command="load" />
        <rosparam file="$(find ucar_navigation)/config/teb/global_costmap_params.yaml" command="load" />
        <rosparam file="$(find ucar_navigation)/config/teb/move_base_params.yaml" command="load" />
        <rosparam file="$(find ucar_navigation)/config/teb/base_local_planner_params.yaml" command="load" />

        <remap from="cmd_vel" to="$(arg cmd_vel_topic)"/>
        <remap from="odom" to="$(arg odom_topic)"/>
    </node>
</launch>
